# Chapter 2 Assignment

## Fabio Toguchi

In [10]:
import pandas

In [52]:
#Imported from local storage. Wasn't sure if it was meant to be imported from somewhere else
ramen_df = pd.read_csv("C:\\Users\\Fabio Toguchi\\Downloads\\ramen-ratings.csv")

In [74]:
#First 5 rows of data
print(ramen_df.head())

            Brand                                            Variety Style  \
0       New Touch                          T's Restaurant Tantanmen    Cup
1        Just Way  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack
2          Nissin                      Cup Noodles Chicken Vegetable   Cup
3         Wei Lih                      GGE Ramen Snack Tomato Flavor  Pack
4  Ching's Secret                                    Singapore Curry  Pack

  Country  Stars
0   Japan   3.75
1  Taiwan   1.00
2     USA   2.25
3  Taiwan   2.75
4   India   3.75

In [76]:
#Last 5 rows of data
print(ramen_df.tail())

         Brand                                            Variety Style  \
2572     Vifon  Hu Tiu Nam Vang ["Phnom Penh" style] Asian Sty...  Bowl
2573   Wai Wai                     Oriental Style Instant Noodles  Pack
2574   Wai Wai                                     Tom Yum Shrimp  Pack
2575   Wai Wai                               Tom Yum Chili Flavor  Pack
2576  Westbrae                                         Miso Ramen  Pack

       Country  Stars
2572   Vietnam    3.5
2573  Thailand    1.0
2574  Thailand    2.0
2575  Thailand    2.0
2576       USA    0.5

In [78]:
ramen_df.describe()

             Stars
count  2577.000000
mean      3.654676
std       1.015331
min       0.000000
25%       3.250000
50%       3.750000
75%       4.250000
max       5.000000

In [80]:
ramen_df.nunique()

Brand       355
Variety    2410
Style         7
Country      37
Stars        42
dtype: int64

In [82]:
# I dont know if I understood the order correclty.
vietnam_filter_df = ramen_df[ramen_df["Country"] == "Vietnam"]
print(vietnam_filter_df)

              Brand                                            Variety Style  \
18         Binh Tay                                         Mi Hai Cua  Pack
52    Uni-President                                    Mushroom Flavor  Pack
143        Mum Ngon                                   Lau Tom Chua Cay  Pack
224           Vifon  Viet Cuisine Bun Rieu Cua Sour Crab Soup Insta...  Bowl
365         Acecook                             Oh! Ricey Pork Flavour  Pack
...             ...                                                ...   ...
2486       Binh Tay                                   Mi Chay Mushroom  Pack
2535        Ve Wong                             Kung-Fu Chicken Flavor  Pack
2570        Ve Wong                                      Mushroom Pork  Pack
2571          Vifon                                           Nam Vang  Pack
2572          Vifon  Hu Tiu Nam Vang ["Phnom Penh" style] Asian Sty...  Bowl

      Country  Stars
18    Vietnam   4.00
52    Vietnam   0.00
143   Vietnam   3.50
224   Vietnam   5.00
365   Vietnam   4.00
...       ...    ...
2486  Vietnam   2.75
2535  Vietnam   2.75
2570  Vietnam   1.00
2571  Vietnam   2.50
2572  Vietnam   3.50

[108 rows x 5 columns]

In [84]:
# Display only Brand and Style columns
brand_styles_df = ramen_df[["Brand","Style"]]
print(brand_styles_df)

               Brand Style
0          New Touch   Cup
1           Just Way  Pack
2             Nissin   Cup
3            Wei Lih  Pack
4     Ching's Secret  Pack
...              ...   ...
2572           Vifon  Bowl
2573         Wai Wai  Pack
2574         Wai Wai  Pack
2575         Wai Wai  Pack
2576        Westbrae  Pack

[2577 rows x 2 columns]

In [86]:
# Display only Country columns
country_series = ramen_df["Country"]
print(country_series)

0          Japan
1         Taiwan
2            USA
3         Taiwan
4          India
          ...
2572     Vietnam
2573    Thailand
2574    Thailand
2575    Thailand
2576         USA
Name: Country, Length: 2577, dtype: object

In [88]:
# Display dataframe sorted by Stars in descending order
sorted_ramen_df = ramen_df.sort_values(by = "Stars", ascending = False)
print(sorted_ramen_df)

               Brand                                            Variety Style  \
1585     Prima Taste                            Singapore Laksa La Mian  Pack
446         Maruchan  Instant Lunch Chipotle Chicken Flavor Ramen No...   Cup
484         Nongshim          Champong Noodle Soup Spicy Seafood Flavor  Pack
483           Nissin                              Straits Kitchen Laksa  Pack
1613          Nissin                 Raoh Backfat Rich Soy Sauce Flavor  Bowl
...              ...                                                ...   ...
522             Koyo                 Garlic Pepper Reduced Sodium Ramen  Pack
561    Samyang Foods                            Honey & Cheese Big Bowl  Bowl
950            Azami                                Kimchee Noodle Soup   Cup
2079  Hsin Tung Yang                     Tiny Noodle With Oyster Flavor  Pack
52     Uni-President                                    Mushroom Flavor  Pack

          Country  Stars
1585    Singapore    5.0
446           USA    5.0
484   South Korea    5.0
483     Singapore    5.0
1613        Japan    5.0
...           ...    ...
522           USA    0.0
561   South Korea    0.0
950        Canada    0.0
2079       Taiwan    0.0
52        Vietnam    0.0

[2577 rows x 5 columns]

In [94]:
# Repalce word "United States" with "USA".
ramen_df["Country"] = ramen_df["Country"].replace("USA" , "United States")

In [96]:
# Print firts five rows
print(ramen_df.head())

            Brand                                            Variety Style  \
0       New Touch                          T's Restaurant Tantanmen    Cup
1        Just Way  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack
2          Nissin                      Cup Noodles Chicken Vegetable   Cup
3         Wei Lih                      GGE Ramen Snack Tomato Flavor  Pack
4  Ching's Secret                                    Singapore Curry  Pack

         Country  Stars
0          Japan   3.75
1         Taiwan   1.00
2  United States   2.25
3         Taiwan   2.75
4          India   3.75

In [100]:
# Number of countries in the dataframe
number_countries = ramen_df["Country"].nunique()
print(number_countries)

37

In [104]:
# Three highest rated countries
average_ratings = ramen_df.groupby("Country")["Stars"].mean()
three_highest_rated_countries = average_ratings.nlargest(3)
print(three_highest_rated_countries)

Country
Brazil      4.350000
Sarawak     4.333333
Cambodia    4.200000
Name: Stars, dtype: float64

In [110]:
# Three lowest rated countries
three_lowest_rated_countries = average_ratings.nsmallest(3)
print(three_lowest_rated_countries)

Country
Nigeria        1.500000
Canada         2.243902
Netherlands    2.483333
Name: Stars, dtype: float64

In [118]:
%%time
# Time that takes the code to run
three_lowest_rated_countries = average_ratings.nsmallest(3)
print(three_lowest_rated_countries)

Country
Nigeria        1.500000
Canada         2.243902
Netherlands    2.483333
Name: Stars, dtype: float64
CPU times: total: 0 ns
Wall time: 999 Î¼s